<div class="share">
  <ul>
  	<li><a class="linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=%5Bsub%5D&title=%5Bsub%5D&summary=%5Bsub%5D&source=%5Bsub%5D" onclick="this.href = this.href.replace('[sub]',window.location)">Share on LinkedIn</a></li>
  	<li><a class="twitter" arget="_blank" href="https://twitter.com/intent/tweet?url=%5Bsub%5D" onclick="this.href = this.href.replace('[sub]',window.location)">Share on Twitter</a></li>
  	<li><a class="email" target="_blank" href="mailto:?subject=Check out this job&body=[sub]" onclick="this.href = this.href.replace('[sub]',window.location)">Email Job</a></li>
  	<li><a class="print" href="#" onClick="window.print()">Print Job</a></li>
  </ul>
</div><!--/share-->