<!--//////////////////////////////////// Sidebar ////////////////////////////////////-->
<div class='span3'>
	<div class='sidebar'>
		<div class='module post-job'>
			<h4>Hire The Web's Best</h4>
			<p>List Your Job Today & Hire<br/>Some Really Amazing Folks</p>
				<a href='http://workcreative.net/post-job.html'>Post a Job</a>
		</div><!--module-->
		
		<div class='module twitter'>
			<a href='https://twitter.com/WorkCreativeJob'>
  		<h4>The Newest Jobs</h4>
  		<p>Posted All Day</p>
			</a>
		</div><!--module-->
		
		<div class='module email-signup'>
		  <a href='#job-alert' class='open-lightbox'>
  		<h4>Daily Delivery</h4>
  		<p>By Email</p>
  		<div id='job-alert'>
  			<div id='wufoo-q7x2m3'></div>  
  		</div>
		  </a>
		</div><!--module-->
		
		<div class='module mission'>
  		<h4>Our Mission</h4>
  		<p>To bring you the very best 
    		development, design, 
    		management & support jobs 
    		the web has to offer. 
    		We want you to land your 
    		dream job.</p>  
		</div><!--module-->
		
		<div class='module visible-phone visible-tablet'>
  		<h4>iOS Install</h4>
		</div><!--module-->
		 		
  </div><!--side-bar-->
</div><!--span3-->
